* {
    background-color: #CDCED1;
    color: black;
}

body {
}

.nav {
    display: inline;
    margin: auto;
    align-content: center;
    text-align: center;
}

.li-nav {
    display: inline;
    border: solid black 2px;
    padding: 10px;
    margin: 20px;
    width: 50%;
}

img {
    border: solid black 2px;
    display: block ;
    margin: auto ;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}